/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
header {
  width: 100%;
  background-color: black;
  height: 60px;

}
header nav {
width: 60%;
float: right;
margin-top: -5%;
}

.logo {
  height: 80%;
  background-image: url("ga.png");
  background-repeat: no-repeat;
  width: 40%;
  background-size: 100% 100%;
  padding-top: 10px;
}

.flash-message.flash-message-notice {
  display: none;
}

body {
  background-image: url("/assets/new_york.jpg");
  background-size: cover;
  color: white;

}




